* {
  list-style: none;
  text-decoration: none;
  font-size: 1.05rem;
  font-family: sans-serif;
  list-style: none;
  box-sizing: border-box;
}

ul li a {
  color: #edf0f1;
}

a.active,
a:hover {
  color: tomato;
}

.nav-menu li {
  display: inline-block;
  padding: 0px 20px;
  margin-right: 20px;
}

.nav-menu-mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    height: 50vh;
    background: #24262b;
    border-top: 2px solid #edf0f1;
  }

  .nav-menu {
    display: none;
  }
} ;
